

// fonts
$ffMain:  "Roboto", sans-serif;;

// colors
$white: #FFFFFF;
$grey: #BEBAB6;
$black: #000;
$primary: #3A173C;
$secondary: #E0DCDB;
$light-brown: #e3d4c1;
$grey-img: #e1dddc;
$grey-text: #C0B9B5;
$green: #B9E2BF;
$main-bg: #d5c7b7;
// background: linear-gradient(
      //   to right bottom,
      //   #b9e2bf,
      //   #9be5a4,
      //   #7be885,
      //   #56e963,
      //   #0de935
      // );




// radius
$radius: 44px;
// $radiusRound: 33px;
// $radiusImage: 50%;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

// utils
$transition: .3s all ease-in-out;
