.footer {
  &__top {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20rem;
    }
  }

  &__form {
    padding-right: 50rem;
  }

  &__links {
    ul {
      display: flex;
      flex-direction: column;
      gap: 11rem;
      @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
    }
    a {
      @include text($ffMain, 16rem, 26rem, 400, $primary);
      transition: $transition;
      @include mobile {
        @include text($ffMain, 12rem, 22rem, 400, $primary);
      }
    }
    .btn {
      @include text($ffMain, 16rem, 26rem, 400, $secondary);
      padding: 6rem 38rem;
      margin-bottom: 30rem;
      border: 1rem solid $primary;
      @include mobile {
        align-self: center;
      }
    }
  }

  &__socials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20rem;
    padding-left: 49rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 8rem;
      position: relative;
      z-index: 2;
    }
    ul a {
      @include text($ffMain, 65rem, 105rem, 400, $primary);
      @include tablet {
        @include text($ffMain, 45rem, 55rem, 400, $primary);
      }
    }
    .footer__deco {
      position: absolute;
      top: 51rem;
      right: 49rem;
      max-width: 429rem;
      width: 100%;
      height: 168rem;
      background: $grey;
      border-radius: 100rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include tablet {
        max-width: 350rem;
        height: 126rem;
        right: 20rem;
      }
    }
    .footer__circle {
      background: linear-gradient(
        to right bottom,
        #b9e2bf,
        #9be5a4,
        #7be885,
        #56e963,
        #0de935
      );
      border-radius: 50%;
      width: 100%;
      max-width: 151rem;
      max-height: 151rem;
      height: 100%;
      @include tablet {
        max-width: 106rem;
        max-height: 106rem;
      }
    }
  }
  &__copyright {
    align-self: flex-end;
    color: $primary;
    text-align: end;
    position: relative;
    z-index: 1;
  }
  &__br {
    display: inline-block;
    width: 7rem;
  }
}

.form {
  &__title {
    @include text($ffMain, 44rem, 53rem, 400, $primary);
    margin-bottom: 31rem;
  }
  &__body {
    position: relative;
    margin-bottom: 17rem;
    border-bottom: 1rem solid $primary;
  }
  &__input {
    width: 100%;
    color: $primary;
    padding: 7rem 45rem 7rem 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__checkbox {
    position: absolute;
    right: 2rem;
  }
  .checkbox__input {
    display: none;
  }
  .checkbox__mark {
    display: inline-block;
    width: 30rem;
    height: 30rem;
    border: 1rem solid $primary;
    position: relative;
    transition: 0.2s all ease-in-out;
  }
  .checkbox__mark::after {
    content: "\2714";
    color: $primary;
    font-size: 24rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .checkbox__input:checked ~ .checkbox__mark::after {
    opacity: 1;
  }
  .checkbox__input:checked ~ .checkbox__mark {
    background: $green;
    opacity: 1;
  }

  &__info {
    max-width: 234rem;
    text-align: center;
    @include text($ffMain, 12rem, 19rem, 400, $primary);
  }
}
@media (hover: hover) {
  .footer {
    .btn {
      &:hover {
        color: $primary;
      }
    }
    .footer__links a {
      &:hover {
        color: $green;
      }
    }
  }
}
