.header {
  background: $primary;
  &__container {
    @include flex-between;
    padding: 35rem 40rem 40rem;
  }
  &__nav {
    flex-grow: 1;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 28rem;
    a {
      display: inline-block;
      padding: 10rem 20rem;
      border-radius: $radius;
      @include text($ffMain, 16rem, 26rem, 400, $grey-text);
      transition: $transition;
      @include tablet {
        @include text($ffMain, 22rem, 32rem, 400, $primary);
      }
      @include mobile{
        @include text($ffMain, 16rem, 20rem, 400, $primary);
      }
    }
    li {
      &:first-child {
        margin-left: auto;
      }
      &:nth-child(4) {
        margin-left: auto;
      }
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 10px;
      font-size: 28px;
      width: fit-content;
      padding-left: 60rem;
    }
  }
  &__btn {
    @include text($ffMain, 16rem, 26rem, 400, $primary);
    padding: 12px 47px;
    @include tablet {
      font-size: 16rem;
      padding: 10rem 20rem;
    }
  } 
}
@media (hover: hover) {
  .header__list a {
    &:hover,
    &:active {
      text-shadow: 2rem 1rem 10rem $secondary;
      color: $green;
    }
  }
  a.header__btn {
    &:hover,
    &:active {      
      color: $primary;
    }
  }
}
