.mobile-nav {
  @include tablet {
    position: fixed;

    right: -100%;
    top: -100%;
    width: 80%;
    height: 80%;
    z-index: 99;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60rem;
    background: $green;
    transition: $transition;
  }
}

.mobile-nav--open {
  width: 70vw;
  height: 65vw;
  top: -10%;
  right: -30%;
  @include mobile {
    width: 110vw;
    height: 110vw;
    top: -5%;
    right: -30%;
  }
}
